<aside class="sidebar shadow-sm">
    <div class="sidebar-profile d-flex flex-column justify-content-center pt-5 pb-3">
        <div class="picture-wrapper mb-4">
            <div class="user-picture m-auto">
                <img src="assets/public/img/user.jpg" class="img-fluid" alt="">
            </div>
        </div>
        <div class="profile-details text-center pb-4">
            <p class="mb-0 text-uppercase name">Jhon Doe</p>
            <small class="text-uppercase role">Administrator</small>
        </div>
    </div>
    <nav class="sidebar-menu pt-3 pb-3">
        <div class="menu-header mt-3 mb-2">
            Géréral
        </div>
        <ul class="menu-items">
            <li class="header-menu"><a routerLink="/" routerLinkActive="active"
                    ariaCurrentWhenActive="page"><span>Home</span></a>
            </li>
            <li class="header-menu"><a routerLink="/statistiques" routerLinkActive="active"
                    ariaCurrentWhenActive="page"><span>Statistiques</span></a>
            </li>
        </ul>
        <div class="menu-header mt-3 mb-2">
            Administration
        </div>
        <ul class="menu-items">
            <li class="header-menu"><a routerLink="/task-list" routerLinkActive="active"
                    ariaCurrentWhenActive="page"><span>Tâches</span></a>
            </li>
        </ul>
    </nav>
</aside>