<table mat-table [dataSource]="tasks" class="mat-elevation-z8">
    <ng-container matColumnDef="libelle">
        <th mat-header-cell *matHeaderCellDef> Libellé </th>
        <td mat-cell *matCellDef="let element"> {{element.name}}
            <app-common-date [inputDate]="element.updatedAt"></app-common-date>
        </td>
    </ng-container>

    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> type </th>
        <td mat-cell *matCellDef="let element"> {{element.type | titlecase }} </td>
    </ng-container>

    <ng-container matColumnDef="recurrence">
        <th mat-header-cell *matHeaderCellDef> Recurrence </th>
        <td mat-cell *matCellDef="let element"> {{element.recurrence.description}} </td>
    </ng-container>

    <!-- Header and Row Declarations -->
    <tr mat-header-row *matHeaderRowDef="['libelle', 'type', 'recurrence']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['libelle', 'type', 'recurrence'];"></tr>
</table>